<!-- views/tournament.ejs -->
<!doctype html>
<html>
<head>
	<title><% if(typeof data!=="undefined" && data!=null) { %><%= edittournamentTxt %><% } else { %><%= newtournamentTxt %><% } %></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="/styles/style.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
	<script type="text/javascript">
	$( document ).ready(function() 
	{
		$("#end").datepicker();
		$("#start").datepicker();
		$("#end").datepicker("option", "dateFormat", "yy-mm-dd");
		$("#start").datepicker("option", "dateFormat", "yy-mm-dd");
		var date = new Date();		
		var month = date.getUTCMonth()+1;
		if(month<10)
			var month="0"+month;
		var day = date.getUTCDate();
		if(day<10)
			var day="0"+day;
		
		
		var result = date.getUTCFullYear()+"-"+month+"-"+day;
		$("#end").datepicker("setDate", result);
		$("#start").datepicker("setDate", result);
		
		var hours = date.getUTCHours();
		if(hours<10)
			var hours = "0"+hours;
		
		var minutes = date.getUTCMinutes()
		if(minutes<10)
			var minutes = "0"+minutes;
			
		
		$("#start_hour").val(hours+":"+minutes);
		$("#end_hour").val(hours+":"+minutes);
		
		
		<% if(typeof data!=="undefined" && data!=null) 
		{ %>
			<% if(typeof data.starts!=="undefined" && data.starts>0) { %>
				var date = new Date(<%=data.starts*1000%>);
				var month = date.getUTCMonth()+1;
				if(month<10)
					var month="0"+month;
				var day = date.getUTCDate();
				if(day<10)
					var day="0"+day;
				
				var result = date.getUTCFullYear()+"-"+month+"-"+day;
				$("#start").datepicker("setDate", result);
				
				var hours = date.getUTCHours();
				if(hours<10)
					var hours = "0"+hours;
				
				var minutes = date.getUTCMinutes()
				if(minutes<10)
					var minutes = "0"+minutes;
			
				$("#start_hour").val(hours+":"+minutes);
			<% } %>
			
			<% if(typeof data.ends!=="undefined" && data.ends>0) { %>
				var date = new Date(<%=data.ends*1000%>);
				var month = date.getUTCMonth()+1;
				if(month<10)
					var month="0"+month;
				var day = date.getUTCDate();
				if(day<10)
					var day="0"+day;
				var result = date.getUTCFullYear()+"-"+month+"-"+day;
				$("#end").datepicker("setDate", result);
				var hours = date.getUTCHours();
				if(hours<10)
					var hours = "0"+hours;
				
				var minutes = date.getUTCMinutes()
				if(minutes<10)
					var minutes = "0"+minutes;
					
				$("#end_hour").val(hours+":"+minutes);
			<% } %>		
		<% } else {%>		
			$("#end").datepicker("option", "minDate", result);
			$("#start").datepicker("option", "minDate", result);
		<% } %>
		
		 $(".passwordsForm").submit(function(e){		 
			e.preventDefault();
			$("#tournamentForm").submit();
		});
		
	});
	
	function validateForm()
	{

		if($("input[name=name]").val() == "")
		{
			$("input[name=name]").css("border","1px solid red");
			return false;
		}
		else
			$("input[name=name]").css("border","1px solid #ccc");
						
		
		if($("input[name=path]").val() == "")
		{
			$("input[name=path]").css("border","1px solid red");
			return false;
		}
		else
			$("input[name=path]").css("border","1px solid #ccc");
		
		if($("textarea[name=description]").val() == "")
		{
			$("textarea[name=description]").css("border","1px solid red");
			return false;
		}
		else
			$("textarea[name=description]").css("border","1px solid #ccc");
			
		if($('input[type=file][name=passwordfile]').val().length>0 && $('input[type=file][name=passwordfile]').val().split('\\').pop()!="passwords.csv")
		{
			$('input[type=file][name=passwordfile]').val("");
			alert("<%=invalidPasswordsFilename%>");
			return false;
		}
		
	
		$('.passwordsForm').find(':input[type=text]').each(function(){
			$(this).clone().appendTo("#extracontent");
		});

		return true;
	}
	
	function parseTimestamp(timestamp,targetId)
	{
		if(typeof timestamp!=="undefined" && timestamp!=null && timestamp>0)
		{
			var date = new Date(timestamp*1000);
			var month = date.getUTCMonth()+1;
			if(month<10)
				var month="0"+month;
			var day = date.getUTCDate();
			if(day<10)
				var day="0"+day;
			var hours = date.getHours();
		    if(hours<10)
				var hours = "0"+hours;
			
			var minutes = date.getMinutes()
			if(minutes<10)
				var minutes = "0"+minutes;
			document.getElementById(timestamp).innerHTML = day+'.'+month+'.'+date.getUTCFullYear()+"  "+hours+":"+minutes;	
		}
	}
	
	<% if(typeof data!=="undefined" && data!=null && typeof data.id!=="undefined" && data.id!=null) { %>
	function deleteSubmission(submissionId)
	{
		if(typeof submissionId!=="undefined" && submissionId!=null && submissionId.length>0)
		{
			var r = confirm("<%= deleteSubmissionConfirmation %>");
			if(r==true)
			{
				window.location.href = '/deleteSubmission?submissionId='+submissionId+'&tournamentId=<%= data.id %>';
			}
		}
	}
	<% } %>
	
	<% if(typeof images!=="undefined" && images!=null && images.length>0) { %>
	function deleteImg(filename)
	{
		if(typeof filename!=="undefined" && filename!=null && filename.length>0)
		{
			var r = confirm("<%= deleteimageConfirmation %>");
			if(r==true)
			{
				window.location.href = '/deleteTournamentImage?fileName='+filename+'&tournamentId=<%= data.id %>';
			}
		}
	}
	<% } %>
	
  $( function() {
    $( "#accordion" ).accordion();
  } );
	
	<% if(typeof passwordfile!=="undefined" && passwordfile!=null && passwordfile.length>0) { %>
	function confirmDeletePasswordFile()
	{
		var r = confirm("<%= deletePasswordFileConfirmation %>");
		if(r==true)
			window.location.href = '/deleteTournamentPasswordFile?tournamentId=<%= data.id %>';
	}
	<% } %>
	
	function removeRow(sender)
	{
		if(typeof sender!=="undefined" && sender!=null)
		{
			var r = confirm("<%= storedPasswordsDeleteconfirmation %>");
			if(r==true)
				$(sender).closest("tr").remove();
		}
	}
	
	function clearRow(sender)
	{
		if(typeof sender!=="undefined" && sender!=null && sender.id=="newPass")
			$(sender).closest("tr").find("input").val("");
	}

	function addRow()
	{
		var newrow='<tr><td><input style="border:none;" type="text" name="passwordsAuthors[]" value="" placeholder="<%=storedPasswordsAuthor%>" />';
		newrow+='<td><input style="border:none;" type="text" name="passwordsEmails[]" value="" placeholder="<%=storedPasswordsEmail%>" /></td><td>';
		newrow+='<input type="text" style="border:none;" name="passwordsPasswords[]" value="" placeholder="<%=storedPasswordsPassword%>" /></td><td>';
		newrow+='<a href="#/" id="newPass" onclick="removeRow(this);">X</a></td></tr>';					
		$('.passwordsForm').find('tbody').append(newrow);
	}
	
	function runValidathor(url)
	{
		if(typeof url!=="undefined" && url!=null && url.length>0)
		{
			$.ajax({
			type: 'GET',
			url: "/runValidathor?submissionURL="+url,
			success: function(data)
			{
				try
				{
					if(data.success!=="undefined" && data.success!=null && data)
						alert("<%= validathorFinished %>");
				}
				catch(JSONError) { console.log(JSONError); }
			}
		});
		}	
	}
	</script>
</head>
<body>

<div class="menu">
<a style="float:left;height:30px;"href="/" class="btn btn-default"><span class="fa fa-home"></span></a>
<%  if(!loggedIn) { %>
<a style="float:right;height:30px;"href="/login" class="btn btn-default"><span class="fa fa-user"></span><%= loginTxt %></a>
<% } else { %>
<a style="float:right;height:30px;"href="/profile" class="btn btn-default"><span class="fa fa-user"></span><%= profileTxt %></a>
<% } %>
</div>

<div class="container">

<div class="col-sm-5">

	<h1><span class="fa fa-sign-in"></span><% if(typeof data!=="undefined" && data!=null) { %> <%= edittournamentTxt %> <%=data.name %> <% } else { %> <%= newtournamentTxt %><% } %></h1>
	<form id="tournamentForm" <% if(typeof data!=="undefined" && data!=null) { %> action="/editTournament/<%=data.id %>" <% } else { %> action="/newTournament" <% } %> method="post" enctype="multipart/form-data" onsubmit="return validateForm();">
	<% if(typeof data!=="undefined" && data!=null) { %>
		<input type="hidden" name="id" value="<%=data.id %>" />
	<% } %>	
	<div style="display:none" id="extracontent"></div>
    <div class="form-group">
      <label for="name"><%= tournamentnameTxt %></label>
      <input type="text" id="name" name="name" <% if(typeof data!=="undefined" && data!=null) { %> value="<%=data.name %>" <% } %> class="form-control" />
    </div>
	<div class="form-group">
      <label for="start"><%= submissiondateStartTxt %></label>
      <input type="text" id="start" name="starts" class="form-control" style="width:79%;display:inline-block;"  /><input style="width:20%;display:inline-block;" class="form-control" type="text" id="start_hour" name="start_hour" placeholder="09:33" />
    </div>
    <div class="form-group">
      <label for="end"><%= submissiondateTxt %></label>
      <input type="text" id="end" name="ends" class="form-control" style="width:79%;display:inline-block;" /><input style="width:20%;display:inline-block;" class="form-control" type="text" id="end_hour" name="end_hour" placeholder="23:44" />
    </div>
	<div class="form-group">
      <label for="bnch"><%= behcmarksTxt %></label>
      <select id="bnch" name="benchmarks"class="form-control">
	  <% if(typeof benchmarks!=="undefined" && benchmarks!=null && benchmarks.length>0) {
		benchmarks.forEach(function(entry) { %>
	  <option <% if(typeof data!=="undefined" && data!=null && data.benchmarks!=="undefined" && data.benchmarks!=null && data.benchmarks==entry.fileName) {%> selected <% } %> value="<%=entry.fileName%>" ><%= entry.name %>(<%=entry.type%>)</option>
	  <% }); } %>
	  </select>
    </div>
	<div class="form-group">
      <label for="pth"><%= tournamentUrlTxt %></label>
      <input type="text" id="pth" name="path" <% if(typeof data!=="undefined" && data!=null) { %> value="<%=data.path %>" <% } %> class="form-control /">
    </div>
	<div class="form-group">
      <label for="dsc"><%= descTxt %></label>
      <textarea name="description" id="dsc" class="form-control"><% if(typeof data!=="undefined" && data!=null) { %><%=data.description %> <% } %></textarea>
    </div>
	<div class="form-group">
	  <label><%=visibleDesc%> <input type="checkbox" style="margin-left:10px;" name="visible" <%if(typeof data!=="undefined" && data!=null && data.visible!=="undefined" && data.visible){%> checked<%}%> /></label>
	</div>
	<div class="form-group">
	 <label for="imgs"><%= imgdescTxt %></label>
	 <input id="imgs" name="tournamentimages" type="file" accept="image/*" multiple />
	</div>
	<div class="form-group">
      <label for="pwdfile"><%= passwordfileDesc %></label>
	  <input type="file" id="pwdfile" name="passwordfile" class="form-control" accept=".csv" />
	  <% if(typeof passwordfile!=="undefined" && passwordfile!=null && passwordfile.length>0) { %>
		<p><a href="<%=passwordfile %>"><%= oldpasswordDesc %></a><a style="margin-left:15px;" href="#/" onclick="confirmDeletePasswordFile();"><%= deleteDesc %></a></p>
	  <% } %>
    </div>
	<div class="form-group" <% if(typeof passwordfile!=="undefined" && passwordfile!=null && passwordfile.length>0) { %> style="display:none;" <% } %>>
      <label for="pwd"><%= submissionpasswordDesc %>:</label>
	  <input type="text" id="pwd" name="password" placeholder="<%= submissionpasswordDesc %>" <% if(typeof data!=="undefined" && typeof data.password!=="undefined" && data.password!=null && data.password.length>0) { %> value="<%=data.password %>" <% } %> class="form-control" />
    </div>
	<button type="submit" class="btn btn-warning btn-lg"><%= saveDesc %></button><button type="button" style="margin-left:5px;" onclick="location.href = '/profile';" class="btn btn-warning btn-lg"><%= cancelDesc %></button>
  </form>
</div>

<% if(typeof data!=="undefined" && data!=null) { %>
<div class="col-sm-7" id="accordion" style="margin-top:90px;">
<h3><%= imgdescTxt %> (<% if(typeof images!=="undefined" && images!=null && images.length>0) { %><%=images.length%><%} else {%>0<%}%>)</h3>
<div style="max-height:300px;overflow-y:scroll;">
<ul>
<% if(typeof images!=="undefined" && images!=null && images.length>0) { images.forEach(function(img) { %>
<li id="<%=img%>"><a href="/tournament/<%=data.id%>/images/<%=img%>"><%=img%></a>   <a href="#" onclick="deleteImg('<%=img%>');"><%= deleteDesc %></a></li>
<% }); } %>
</ul>
</div>

<h3><%= submittedDesc %> (<% if(typeof submissions!=="undefined" && submissions!=null){ %><%= submissions.length %><% } else { %>0<% } %>)</h3>
<div style="max-height:700px;overflow-y:scroll;">
<% if(typeof submissions!=="undefined" && submissions!=null){ submissions.forEach(function(entry) { %>
				<div class="well">
					<h3><span class="fa fa-user" style="margin-right:10px;"></span><%= entry.author %><% if(typeof entry.hasErrors!=="undefined" && entry.hasErrors) {%><span style="color:red;margin-left:10px;" class="glyphicon glyphicon-fire" title="<%= hasErrors %>"></span><%}%></h3>
						<p id="<%= entry.timestamp %>"><script>parseTimestamp(<%= entry.timestamp %>);</script></p>
						<% if(typeof entry.score_rating!=="undefined" && entry.score_rating!=null) { %>
						<p><b><%= rating_table_score %></b> <%= entry.score_rating%></p>
						<p><b><%= rating_table_min %></b> <%= entry.score_left%></p>
						<p><b><%= rating_table_max %></b> <%= entry.score_right%></p>
						<% } %>
						<p><a href="/<%=data.path%>/submission/<%=entry.author%>_<%= entry.timestamp %>"> <%= viewSubmission %></a></p>
						<p><a href="#/" onclick="runValidathor('<%=data.id%>/submissions/<%=entry.author%>_<%= entry.timestamp %>');"><%= runValidathorTXT %></a></p>
						<p><a href="#/" onclick="deleteSubmission('<%= entry.id %>');"><%= deleteDesc %></a></p>
				</div>
			<%	}); %>
</div>
<% } %>

<% if(typeof results!=="undefined" && results!=null){ %>
<h3><%= tournament_results %> (<%= results.length %>)</h3>
<div style="max-height:700px;overflow-y:scroll;">
<table class="table">
<thead><tr><th><%=tableAlgorithm%></th><th><%=tableRating%></th><th><%=tableMin%></th><th><%=tableMax%></th></tr></thead>
<tbody>
<% for(i=results.length-1; i>=0; i--) { %>
	<tr><td><% if(typeof results[i].submissionAuthor!="undefined" && results[i].submissionAuthor!=null && results[i].submissionAuthor.length>0){%><%=results[i].submissionAuthor.substring(0,20)%><%} else {%><%=results[i].playerId.substring(0,20)%><% } %></td><td><%=results[i].rating.toFixed(2)%></td><td><%= results[i].ratingIntervalLeft.toFixed(2) %></td><td><%= results[i].ratingIntervalRight.toFixed(2) %></td></tr>
<% } %>
</tbody>
</table>
</div>
<% } %>

<h3><%=storedPasswords%> (<% if(typeof passwords!=="undefined" && passwords!=null && passwords.length>0){ %><%= passwords.length %><% } else { %>0<% } %>)</h3>
<div style="max-height:700px;overflow-y:scroll;">
<form class="passwordsForm" action="/editPasswordFile" method="post" enctype="multipart/form-data">
<table class="table">
<thead><tr><th><%=storedPasswordsAuthor%></th><th><%=storedPasswordsEmail%></th><th><%=storedPasswordsPassword%></th><td></td></tr></thead>
<tbody>
	<%passwords.forEach(function(entry) { %>
				<tr><td><input style="border:none;" type="text" name="passwordsAuthors[]" value="<%=entry.name%>" /><td><input style="border:none;" type="text" name="passwordsEmails[]" value="<%=entry.email%>" /></td><td><input type="text" style="border:none;" name="passwordsPasswords[]" value="<%=entry.password%>" /></td><td><a href="#/" onclick="removeRow(this);">X</a></td></tr>
			<%	}); %>
</tbody>
</table>
<input class="btn btn-warning" type="button" onclick="addRow();" value="+" />
</form>		
</div>


</div>
<% } %>
</div>
</body>
</html>	 