<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title><%= controlPanel %></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="/styles/style.css"> <!-- load fontawesome -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<script type="text/javascript">
	function deleteTournament(tournamentId)
	{
		if(typeof tournamentId!=="undefined" && tournamentId!=null && tournamentId.length>0)
		{
			var r = confirm("<%= deleteTournamentConfirm %>");
			if(r==true)
			{
				$.post('/deleteTournament/'+tournamentId);
				location.reload();
			}
		}
	}
	
		<% if(EARSinstances.length>0)
		{ %>			
			function killEARS()
			{
				var r = confirm("<%= killEars %>");
				if(r==true)
				{
					$.ajax({
					type: 'GET',
					url: "/killEARS",
					success: function(data)
					{
						try
						{
							data = JSON.parse(data);
							if(data.success)
								location.reload();
						}
						catch(JSONError) {}
					}
					});
				}
			}
		<% } %>
	
	
	
	 $(document).ready(function() { 
		<% if(EARSinstances.length>0)
		{ %>
			$("button[type=submit]").prop('disabled', true);	
			$("button[type=button]").prop('disabled', true);	
			$("input[type=checkbox]").prop('disabled', true);
			$("#killEARS").prop('disabled',false);
		<% } %>
	 
		$(".runEarsForm").submit(function(e){
			e.preventDefault();
			
			var r = confirm("<%= runEarsConfirm %>");
			if(r==true)
			{
				var submitUrl = $(this).attr("action");
				
				if($(this).find('input[type=checkbox][name=override]').is(":checked"))
					submitUrl += "?override=true";
			
				$("button[type=submit]").prop('disabled', true);	
				$("button[type=button]").prop('disabled', true);	
				$("input[type=checkbox]").prop('disabled', true);	
				
				$("#loader").css("display","block");
				$(this).prop('disabled', true);
				$.ajax({
				type: 'GET',
				url: submitUrl,
				success: function(data)
				{
					try
					{
						if(!data.success)
						{
							if(typeof data.message!=="undefined" && data.message!=null && data.message.length>0)
								alert(data.message);
							else
								alert("<%= runEarsFailed %>");
						}
						else
						{
							if(typeof data.message!=="undefined" && data.message!=null && data.message.length>0)
							{
								$("#earsMessage").html(data.message);
								$("#earsMessageContainer").css("display","block");
 							}
						}
						
						/*$("button[type=submit]").prop('disabled', false);	
						$("input[type=checkbox]").prop('disabled', false);	
						$("input[type=checkbox]").prop('checked', false);*/
					}
					catch(JSONError) { console.log(JSONError); }
					$("#loader").css("display","none");
				}
				}); 
			}
		});
	 });
	</script>
</head>
<body>

<div class="menu">
<a style="float:left;height:30px;"href="/" class="btn btn-default"><span class="fa fa-home"></span></a>
<%  if(!loggedIn) { %>
<a style="float:right;height:30px;"href="/login" class="btn btn-default"><span class="fa fa-user"></span><%= loginTxt %></a>
<% } else { %>
<a style="float:right;height:30px;"href="/profile" class="btn btn-default"><span class="fa fa-user"></span><%= profileTxt %></a>
<% } %>
</div>

<div class="container">
	
	<img id="loader" src="images/loader_big.gif" class="well" style="overflow-x:hidden;display:none;width:200px;height:200px;position:fixed;top:50%;left:50%;margin-top:-75px;margin-left:-100px;z-index:12;overflow-y:scroll;" />

	
	<div id="earsMessageContainer" class="well" style="overflow-x:hidden;display:none;width:400px;position:fixed;top:20%;left:50%;margin-left:-200px;z-index:12;overflow-y:scroll;height:300px;">
	<a href="#/" onclick="$('#earsMessageContainer').css('display','none');$('#earsMessage').html();" style="position:absolute;top:2px;right:2px;">X</a>
	<p id="earsMessage" class="alert alert-success" style="overflow:hidden; word-wrap: break-word;"><% if(EARSmessages.length>0) { %><%=EARSmessages%><% } %></p>
	<p id="earsError" class="alert alert-danger" style="overflow:hidden; word-wrap: break-word;"><% if(EARSerrors.length>0) { %><%=EARSerrors%><% } %></p>
	</div>

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> <%= controlPanel %></h1>
		<a href="/logout" class="btn btn-default btn-sm"><%= logoutTxt %></a>
	</div>
	
	<div class="row">
		<div class="col-sm-6" style="margin-bottom:10px;">
			<form action="/runEars" class="runEarsForm" method="get" enctype="multipart/form-data">
			 <button type="submit" class="btn btn-default btn-sm" style="float:left;">
			  <span class="fa fa-flash"></span> <%= runEars %> 
			</button>
			<div class="checkbox" style="float:left;margin-left:10px;">
				<label><input type="checkbox" name="override"><%= runEarsOverride %></label>
			</div>
			</form>
			
			<% if(EARSmessages.length>0 || EARSerrors.length>0)
			{ %>
				<button type="button" class="btn btn-default btn-sm" onclick="$('#earsMessageContainer').css('display','block');" style="float:left;clear:both;margin-right:10px;">
				  <span class="fa fa-bell"></span>
				</button>
			<% } %>
			
			<% if(EARSinstances.length>0) { %>
				<button id="killEARS" type="button" class="btn btn-default btn-sm" onclick="killEARS();" style="float:left;margin-right:10px;">
				  <span class="fa fa-times-circle"></span>
				</button>
			<% } %>
			
		</div>	
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
		
			<div class="well">
				<h3><span class="fa fa-user"></span> <%= newTournamentDesc %></h3>
					<p><a href="/newTournament"><strong> <%= createnewTournametDesc %></strong></a></p>
			</div>
		</div>
		
		<% if (typeof tournaments!=="undefined" && typeof tournaments!=="undefined" && tournaments!=null && tournaments.length > 0) { %>
		<div class="col-sm-6">
				<% tournaments.forEach(function(entry) { %>
				<form action="/runEars?tournamentId=<%=entry.id%>" class="runEarsForm" method="get" enctype="multipart/form-data" style="float:right;padding:10px;">
						<button type="submit" class="btn btn-default btn-sm">
						  <span class="fa fa-flash"></span> <%= runEars %> 
						</button>
						<div class="checkbox">
							<label><input type="checkbox" name="override"><%= runEarsOverride %></label>
						</div>
					</form>
				<div class="well">
					<h3><span class="fa fa-user"></span><a href="/tournament/<%= entry.path %>" target="_blank"> <%= entry.name %></a></h3>
					<p><a href="/editTournament/<%=entry.id%>"> <%= editDesc %></a></p>
					<p><a href="#/" onclick="deleteTournament('<%=entry.id%>');"> <%= deleteDesc %></a></p>
				</div>
			<%	}); %>
		</div>
		<% } %>
	</div>

</div>
</body>
</html>