<!-- views/showresults.ejs -->
<!doctype html>
<html>
<head>
	<title><% if(typeof data!=="undefined" && data!=null) { %> <%=data.name%> <% } %></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="/styles/style.css"> <!-- load fontawesome -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<script type="text/javascript">
	$( document ).ready(function() 
	{
		<% if(typeof data!=="undefined" && data!=null) 
		{ %>
			var date = new Date(<%= data.ends*1000 %>);
			var month = date.getUTCMonth()+1;
			if(month<10)
				var month="0"+month;
			var day = date.getUTCDate();
			if(day<10)
				var day="0"+day;
			document.getElementById("end").innerHTML+=day+'.'+month+'.'+date.getUTCFullYear();
			
			<% if(typeof successmessage=="undefined" || successmessage.length <= 0) { %>
			if(date.getTime()>new Date().getTime())
			{
				document.getElementById("submissionForm").enabled = true;
				document.getElementById("submissionForm").style.display = "block";
			} <% } %>
		<% } else {%>
		document.getElementById("end").innerHTML+=day+'.'+month+'.'+date.getUTCFullYear();	
		<% } %>	
	});
	
	
	function validateData()
	{
		var value = document.getElementById("submissionFile").value;
		var length = value.length;
		if (value != "")
		{
			if (value.substring(length-4,length) == "java" ||
					value.substring(length-4,length) == "JAVA" ||
					value.substring(length-5,length) == "zip" ||
					value.substring(length-5,length) == "ZIP")
			{
				if(document.getElementById("submissionFile").files[0].size/1024/1024<5)
				{
					<% if(typeof data.password!=="undefined" && data.password!=null && data.password.length>0) { %>
					if(document.getElementById("pwd").value=="")
					{
						alert("<%= passwordRequired %>");
						return;
					}
					<% } %>
					document.getElementById("submitting").style.display='block';
					document.getElementById("submissionForm").style.display='none';
					$("#submissionForm").submit();
				}
				else
					alert("<%= maxsizeDesc %>");
			}
			else
				alert("<%= invalidFormat %>");
		}
		else
			alert("<%= chooseFile %>");
	}
	
	</script>
</head>
<body>
<div class="menu">
<%  if(!loggedIn) { %>
<a style="float:right;height:30px;"href="/login" class="btn btn-default"><span class="fa fa-user"></span><%= profileTxt %></a>
<% } else { %>
<a style="float:right;height:30px;"href="/profile" class="btn btn-default"><span class="fa fa-user"></span><%= profileTxt %></a>
<% } %>
</div>

<img id="submitting" src="/images/loader_big.gif" alt="yarrrrrrr she loads!" />
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
	<% if (typeof successmessage!=="undefined" && successmessage.length > 0) { %>
		<div class="alert alert-success">
		<p><%= uploadSuccess %> <a href="<%= successmessage %>"><%= successmessage %></a></p>
		</div>
	<% }else if (typeof message!=="undefined" && message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>
	<h1><span class="fa"><%=data.name%></h1>
	<p><%= benchmarks %> <%=data.benchmarks%></p>
	<p id="end"><%= submittedDate %> </p>
	<p><%= description %> <%=data.description%>
	<% if (typeof submission_report!=="undefined" && submission_report.author!=="undefined") { %>
	<p class="form-control"><%= author %> <%=submission_report.author%></p>
	<% } %>
	<% if (typeof submission_report!=="undefined" && submission_report.date_readable!=="undefined") { %>
	<p class="form-control"><%= submittedDate %> <%= submission_report.date_readable %></p>
	<% } %>
	<p class="form-control"><%= compileReport %></p>
	<% if (typeof compile_report!=="undefined" && typeof compile_report.error_list!=="undefined" && compile_report.error_list.length > 0) { %>
	<div class="alert alert-danger"><p style="word-break:break-word;"><%= compile_report.error_list %></div>
	<% } else if(typeof compile_report!=="undefined" && typeof compile_report.error_list!=="undefined" && compile_report.error_list.length == 0) { %>
	<div class="alert alert-success"><p><%= noErrors %></div>
	<% } else { %>
	<p><%= submissionProcessing %> </p>
	<% } %>
	
	<% if (typeof info_txt!=="undefined" && info_txt.length > 0) { %>
	<div class="alert alert-success"><p><%= info_txt %></p></div>
	<% } %>
	
	<% if (typeof error_txt!=="undefined" && error_txt.length > 0) { %>
	<div class="alert alert-danger"><p><%= error_txt %></p></div>
	<% } else { %>
	<div class="alert alert-success"><p><%= noErrors %></p></div>
	<% } %>
</div>
</div>
</body>
</html>	 